.br{

	background-image: url(https://images.unsplash.com/photo-1523474438810-b04a2480633c?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:600px;

}
.homebg{
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
	background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(https://images.unsplash.com/photo-1521572089244-e5aaacacca6b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80) center center no-repeat;background-size:cover;
}

.sam{
	padding-top:250px;
	color: wheat;
}
.sd{
	color:wheat;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
	background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(https://images.unsplash.com/photo-1521572089244-e5aaacacca6b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80) center center no-repeat;background-size:cover;
}

}
.ds{

 font-family: sans-serif;
 color:wheat ;
}
.raf{

}
label {
  display: inline-block;
  color: wheat;
  margin-bottom: .5rem;
}
.w3-xlarge {
  font-size: 24px!important;
  color: peachpuff;
}
.w3-xxlarge {
  font-size: 36px!important;
  color: peachpuff;
}
.ral{

}
.sav{
	background: white;
}
.navbar-light .navbar-brand {
  color: black;
}
.navbar-light .navbar-nav .nav-link {
  color: black;
}
.navbar-light .navbar-nav .active>.nav-link{
	color: black;
}
#dan{
	color: black;
}
#sl{
	color:black;
}
#fuck{
 color:black;
}
#fuck2{
	color: black;
}
#fuck3{
	color: black;
}
#{
	color: black;
}
.dg{
	color:wheat;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
	background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(https://images.unsplash.com/photo-1521572089244-e5aaacacca6b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80) center center no-repeat;background-size:cover;

}
#sit{
	color:wheat;
}